header.startheader
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 999
  background-color: rgba($primary-color,0.95)
  padding: 0.5em
  transition: all 0.3s ease-in-out

.inviewport
  transform: translateX(0)
  transition: all 0.3s ease-in-out

.startheader-logo
  width: 75px
  height: auto
  transition: all 0.3s ease-in-out

.startheaderleft
  transform: translateX(-80px)
  opacity: 0
  transition: all 0.3s ease-in-out

.slideoffleft
  transform: translateX(-80px)
  transition: all 0.3s ease-in-out

nav.nav
  text-align: center
  position: fixed
  left: 50%
  top: 50%
  z-index: 999
  transition: all 0.3s ease-in-out
  ul
    margin: 0
    padding: 0
  li
    list-style: none
    margin: 5px 7px
  a
    display: block
    color: $cool-grey
    font-size: 150%
    &:hover
      color: $lightblue

.navhidden
  transform: translate(-50%,-350px)
  opacity: 0
  transition: all 0.3s ease-in-out

.navactive
  transform: translate(-50%,-50%)
  opacity: 1
  transition: all 0.3s ease-in-out

.overlay
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  background-color: rgba($darkblue, 0.95)
  z-index: 998

.navnormleft
  transform: translateX(-80px)

.activator
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  cursor: pointer
  width: 45px
  height: 45px
  position: fixed
  top: 0
  left: 0
  border-radius: $brad
  z-index: 999
  transition: all 0.3s ease-in-out
  &:hover
    background-color: rgba($lightblue,0.3)
    transition: all 0.3s ease-in-out

.toggle-btn
  border-radius: 5px
  height: 3px
  width: 25px
  background-color: $cool-grey
  position: relative
  margin: auto
  transition: all 0.3s ease-in-out
  &:before
    content: ""
    border-radius: 5px
    height: 3px
    width: 25px
    box-shadow: 0 -9px 0 0 $cool-grey
    position: absolute
    top: 0
    left: -3px
    transition: all 0.3s ease-in-out
    transform: translate(3px)
  &:after
    border-radius: 5px
    content: ""
    height: 3px
    width: 25px
    box-shadow: 0 9px 0 0 $cool-grey
    position: absolute
    top: 0
    left: 3px
    transition: all 0.3s ease-in-out
    transform: translate(-3px)

    
.active
  .toggle-btn 
    background-color: transparent
    transition: all 0.2s ease-in-out
    &:before
      top: 0
      transition: all 0.3s ease-in-out
    &:after
      top: 0
      transition: all 0.3s ease-in-out

.active
  &:hover
  .hamburger
    background-color: $cool-grey
    transform: rotate(45deg)
    &:before
      box-shadow: 0 0 0 0 $cool-grey
    &:after
      left: -10px
      box-shadow: 0 -10px 0 0 $cool-grey
      transform: translateY(0) rotate(90deg) 