header.startheader
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 999
  background-color: rgba($primary-color,0.95)
  padding: 0.5em
  transition: all 0.3s ease-in-out

.startheader-logo
  width: 75px
  height: auto
  transition: all 0.3s ease-in-out

.slideoffleft
  transform: translateX(-85px)
  transition: all 0.3s ease-in-out

nav.nav
  transition: all 0.3s ease-in-out
  transform: translateX(-80px)
  ul
    display: inline
    margin: 0
    padding: 0
  li
    display: inline-block
    list-style: none
  a
    margin: 0 5px
    color: $cool-grey
    font-size: 85%

  
.offleft
  transform: translateX(-350px)
  opacity: 0
  transition: all 0.3s ease-in-out


.activator
  cursor: pointer
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 0 5px
  z-index: 1
  transition: all 0.3s ease-in-out
  &:hover


.toggle-btn
  border-radius: 5px
  height: 3px
  width: 25px
  background-color: $cool-grey
  position: relative
  top: 50%
  left: 0
  margin: auto
  transition: all 0.3s ease-in-out
  &:before
    content: ""
    border-radius: 5px
    height: 3px
    width: 25px
    box-shadow: 0 -9px 0 0 $cool-grey
    position: absolute
    top: 0
    left: 0
    transition: all 0.3s ease-in-out
    transform: translate(3px)
  &:after
    border-radius: 5px
    content: ""
    height: 3px
    width: 25px
    box-shadow: 0 9px 0 0 $cool-grey
    position: absolute
    top: 0
    left: 0
    transition: all 0.3s ease-in-out
    transform: translate(-3px)
    
    
.active
  .toggle-btn 
    background-color: transparent
    transition: all 0.2s ease-in-out
    &:before
      top: 0
      transition: all 0.3s ease-in-out
    &:after
      top: 0
      transition: all 0.3s ease-in-out

.active
  &:hover
  .hamburger
    background-color: $cool-grey
    transform: rotate(45deg)
    &:before
      box-shadow: 0 0 0 0 $cool-grey
    &:after
      left: -10px
      box-shadow: 0 -10px 0 0 $cool-grey
      transform: translateY(0) rotate(90deg) 