
.project
  overflow: hidden
  padding: 0.5em
  min-height: 225px
  height: 100%
  background-size: cover!important
  background-repeat: no-repeat!important
  background-color: grey
  position: relative
  box-shadow: 0 10px 15px -8px black
  @media (max-width: $breakpoint-medium)
      grid-column: span 1
      height: 250px
  @media (max-width: $breakpoint-small)
      grid-column: span 1
      height: 250px
  &:hover > .project--meta
      opacity: 1
      transform: translate(0,0)
      transition: all 0.35s ease-in-out
  &:hover > .project--meta > h4
      transform: translate(0,0)
      transition: all 0.35s ease-in-out
  &:hover > .project--meta > p
    transform: translate(0,0)
    transition: all 0.35s ease-in-out
  &--meta
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.95)
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 0.5em
    display: flex
    flex-direction: column
    justify-content: center
    opacity: 0
    transform: translate(0,0)
    transition: all 0.35s ease-in-out
    @media (max-width: $breakpoint-medium)
        opacity: 1
    h3,h4,h5,h6
        color: $lightblue
        margin: 0 0 0.85em 0
        transform: translate(0, 30%)
        transition: all 0.35s ease-in-out
    p
        margin: 0.75em 0 0 0
        color: $cool-grey
        font-size: 85%
        transform: translate(0, -30%)
        transition: all 0.35s ease-in-out
@for $i from 1 to 9
  .project:nth-of-type(#{$i})
    animation-delay: $i * 0.05s

// .project:first-of-type
//     grid-column: span 2
//     grid-row: span 2
//     @media (max-width: $breakpoint-medium)
//         grid-row: span 1
//         grid-column: span 1
//     @media (max-width: $breakpoint-small)
//         grid-column: span 1
//         grid-row: span 1

// .project:last-of-type
//     grid-column: span 2
//     @media (max-width: $breakpoint-small)
//         grid-column: span 1

.portrait
    img
        border-radius: 100%
        @media (max-width: 780px)
            margin: 0 auto
            max-width: 245px!important
.tasks
    padding: 2em
    border-radius: $brad
    background-color: rgba($darkestblue,0.72)
    li
        margin: 0 0 0.5em 0
        color: $lightblue