.skill--container
    width: 25%
    justify-content: space-around

.skill--bg
    fill: none
    stroke: #ffffff27
    stroke-width: 3.6

.skill--path
    fill: none
    stroke: url(#gradient)
    stroke-width: 2.8

.skill--text
    fill: #ffffff
    font-size: 4px
    text-anchor: middle
    transform: translate(0,-1px)
    
.skill--wrapper
    display: flex

.photoshop
    animation: dial 5s ease-in-out forwards, rev 1.5s ease-in-out infinite alternate
    animation-delay: 0ms, 3000ms
    stroke-dasharray: 96 100

.html
    animation: dial 5s ease-in-out forwards, rev 1.5s ease-in-out infinite alternate
    animation-delay: 0ms, 3000ms
    stroke-dasharray: 84 100

.design
    animation: dial 5s ease-in-out forwards, rev 1.5s ease-in-out infinite alternate
    animation-delay: 0ms, 3000ms
    stroke-dasharray: 92 100

.creativ
    animation: dial 5s ease-in-out forwards, rev 1.5s ease-in-out infinite alternate
    animation-delay: 0ms, 3000ms
    stroke-dasharray: 93 100

    
@keyframes dial
    0%
        stroke-dasharray: 0 100

@keyframes rev
    0%
        stroke-width: 2.8
    100%
        stroke-width: 3.6
