@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,600i');
html {
	font-size: 100%;
}
body{
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
}
a{
  color: $secondary-color;
  font-weight: 600;
  &:hover{
    color: $primary-color;
  }
}
a.btn{
  background-color: $primary-color;
  padding: 0.7em 1.4em;
  color: $offwhite;
  border-radius: $brad;
  display: inline-block;
  margin: 1em 0;
  box-shadow: $boxsh;
  &:hover{
    background-color: $secondary-color;
  }
}
.copyright{
  font-size: 0.88rem;
}
em{
  background-color: rgba($lightblue, 0.35);
  padding: 0 2px;
  font-style: normal;
}
p{
  font-size: 100%;
  line-height: 1.6rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Audiowide', cursive;
  font-weight: 400;
}
.centered{
  text-align: center;
  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
}
.german{
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: italic;
}
h1{
  font-size: 2.8rem;
  line-height: 3.6rem;
  @media (max-width: $breakpoint-small){
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.red{
  color: $secondary-color;
}
.blue{
  color: $primary-color;
}
.quote{
  display: inline!important;
  line-height: 62px!important;
  color: $offwhite!important;
  background-color: rgba($primary-color,0.45)!important;
  padding: 0px 4px!important;
}
.wp-block-button__link{
  border-radius: $brad!important;
  font-size: 100%!important;
  font-weight: 400!important;
  margin: 1em 0!important;
  padding: 0.5em 1em!important;
  background-color: $secondary-color!important;
  border: 1px solid $secondary-color!important;
  transition: all 0.2s ease-in-out;
  color: $offwhite!important;
  &:hover{
    background-color: $primary-color!important;
  border: 1px solid $primary-color!important;
    color: $offwhite!important;
    transition: all 0.2s ease-in-out;
  }
}